#preorder-container {
	width: 100%;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 20px;
}

#preorder-formular-date,
#preorder-formular-time {
	border-radius: 10px;
}

#preorder-formular-date {
	width: 20% !important;
	padding: 0 10px;
}

#preorder-formular-time {
	width: 10%;
}

#preorder-error {
	position: relative;
	left: 0;
	margin: 0 0 2em 0;
}

.numInputWrapper .numInput::selection {
	background-color: #000;
}

.steps li::before {
	content: counter(step);
	counter-increment: step;
}

/* Initialize the counter */
.steps {
	counter-reset: step;
}
