.settings_headline {
	margin: 15px;
}

.settings_widget {
	position: relative;
	margin: 15px;
}

.settings_widget p {
	background: #ccc;
	padding: 15px;
	margin: 15px 0;
}

.settings_label strong {
	font-size: 1.2rem;
	font-weight: 700;
	color: #ff8800;
	margin-right: 5px;
}

#days-closed-table {
	width: 100%;
	border-collapse: collapse;
}

#special-days-closed-table {
	width: 100%;
	border-collapse: seperate;
}

#days-closed-table thead th,
#special-days-closed-table thead th {
	background-color: #f4f4f4;
	text-align: left;
	padding: 12px;
	border-bottom: 2px solid #ddd;
}

#days-closed-table tbody tr:not(:last-child),
#special-days-closed-table tbody tr:not(:last-child) {
	border-bottom: 1px solid #ddd;
}

#days-closed-table tbody td,
#special-days-closed-table tbody td {
	padding: 12px;
}

#days-closed-table tbody tr:nth-child(even),
#special-days-closed-table tbody tr:nth-child(even) {
	background-color: #f9f9f9;
}

.shop-time-configuration {
	margin-bottom: 4em;
}

.shop-time-configuration h2 {
	padding: 10px 0 0 15px;
}
